*{
  padding: 0;
  margin: 0;
  background-color: black;
  color: #fff;
}
h1{
  font-style: italic;
  text-align: center;
  color: violet;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
 
}
.gallery img{
  width: 250px;
  height: 300px;
  border: 1px solid gray;
  margin: 10px;
  flex-grow: 1;
  flex-basis: 10%;
}

@media screen and (max-width:600px){
 html,body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
 }
  .section{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  }
}